<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website | Projects</title>
    <style>
        body{
            background-color: black;
            color: antiquewhite;
            text-align: center;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
{{> header}}
<p>{{screamIt portfolioMessage}}</p>

{{> footer}}
</body>
</html>
